### Подключение к БД и загрузка данных

In [ ]:
import pandas as pd

In [ ]:
# подключисмся к БД, закроем логин и пароль, в следующих коммитах сделать загрузку логина и пароля из файла git ignor

CONN = "postgresql://robot-startml-ro:***"\
    "postgres.lab.karpov.courses:***"

Таблица user_data
Cодержит информацию о всех пользователях соц.сети

age	Возраст пользователя (в профиле)
city	Город пользователя (в профиле)
country	Страна пользователя (в профиле)
exp_group	Экспериментальная группа: некоторая зашифрованная категория
gender	Пол пользователя
id	Уникальный идентификатор пользователя
os	Операционная система устройства, с которого происходит пользование соц.сетью
source	Пришел ли пользователь в приложение с органического трафика или с рекламы

Таблица post_text_df
Содержит информацию о постах и уникальный ID каждой единицы с соответствующим ей текстом и топиком

id	Уникальный идентификатор поста
text	Текстовое содержание поста
topic	Основная тематика

Таблица feed_data
Содержит историю о просмотренных постах для каждого юзера в изучаемый период.

timestamp	Время, когда был произведен просмотр
user_id	id пользователя, который совершил просмотр
post_id	id просмотренного поста
action	Тип действия: просмотр или лайк
target	1 у просмотров, если почти сразу после просмотра был совершен лайк, иначе 0. У действий like пропущенное значение.

In [5]:
### Данные по пользователям

user_info = pd.read_sql(
    """SELECT * FROM public.user_data""",
    
    con=CONN
)

user_info.head()

   user_id  gender  age country               city  exp_group       os source
0      200       1   34  Russia          Degtyarsk          3  Android    ads
1      201       0   37  Russia             Abakan          0  Android    ads
2      202       1   17  Russia           Smolensk          4  Android    ads
3      203       0   18  Russia             Moscow          1      iOS    ads
4      204       0   36  Russia  Anzhero-Sudzhensk          3  Android    ads

In [6]:
### Данные по постам

posts_info = pd.read_sql(
    """SELECT * FROM public.post_text_df""",
    
    con=CONN
)

posts_info.head()

   post_id                                               text     topic
0        1  UK economy facing major risks\n\nThe UK manufa...  business
1        2  Aids and climate top Davos agenda\n\nClimate c...  business
2        3  Asian quake hits European shares\n\nShares in ...  business
3        4  India power shares jump on debut\n\nShares in ...  business
4        5  Lacroix label bought by US firm\n\nLuxury good...  business

In [7]:
### Проверим кол-во записей в ленте
### Почти 77 миллионов записей
### Большой объем данных для обучения на ПК

count_feed_data = pd.read_sql(
    """SELECT count(*) FROM public.feed_data""",
    
    con=CONN
)

count_feed_data.head()

      count
0  76892800

In [8]:
### Попробуем загрузить 10 миллионов записей

feed_data = pd.read_sql(
    """SELECT * FROM public.feed_data LIMIT 10000000""",
    
    con=CONN
)

feed_data.head()

            timestamp  user_id  post_id action  target
0 2021-12-18 21:09:54    16711     6076   view       0
1 2021-12-18 21:10:52    16711     6117   view       1
2 2021-12-18 21:11:25    16711     6117   like       0
3 2021-12-18 21:11:27    16711     3873   view       0
4 2021-12-18 21:11:39    16711     6313   view       0

### Работа с данными и фичи для контентной модели

In [9]:
### Как устроена колонка target?

feed_data[feed_data.action!='view']

                  timestamp  user_id  post_id action  target
2       2021-12-18 21:11:25    16711     6117   like       0
8       2021-12-18 21:18:15    16711     4444   like       0
13      2021-12-18 21:26:14    16711     5698   like       0
16      2021-12-18 21:30:35    16711     3940   like       0
19      2021-12-18 21:32:38    16711     7005   like       0
...                     ...      ...      ...    ...     ...
9999943 2021-11-19 21:52:50   119268     3226   like       0
9999950 2021-11-19 22:00:28   119268      886   like       0
9999956 2021-11-19 22:07:22   119268     1261   like       0
9999970 2021-11-25 08:18:58   119268     2166   like       0
9999979 2021-11-25 08:30:20   119268      715   like       0

[1062198 rows x 5 columns]

In [10]:
### Почистим данные от action != view

feed_data = feed_data[feed_data.action == 'view']

feed_data.head()

            timestamp  user_id  post_id action  target
0 2021-12-18 21:09:54    16711     6076   view       0
1 2021-12-18 21:10:52    16711     6117   view       1
3 2021-12-18 21:11:27    16711     3873   view       0
4 2021-12-18 21:11:39    16711     6313   view       0
5 2021-12-18 21:14:36    16711     3886   view       0

In [11]:
### Необходимо по user_id выделять 
### Фиксированный набор признаков
### В целом, подойдет оригинальный датасет

user_info

,user_id,gender,age,country,city,exp_group,os,source
0,200,1,34,Russia,Degtyarsk,3,Android,ads
1,201,0,37,Russia,Abakan,0,Android,ads
2,202,1,17,Russia,Smolensk,4,Android,ads
3,203,0,18,Russia,Moscow,1,iOS,ads
4,204,0,36,Russia,Anzhero-Sudzhensk,3,Android,ads
...,...,...,...,...,...,...,...,...
163200,168548,0,36,Russia,Kaliningrad,4,Android,organic
163201,168549,0,18,Russia,Tula,2,Android,organic
163202,168550,1,41,Russia,Yekaterinburg,4,Android,organic
163203,168551,0,38,Russia,Moscow,3,iOS,organic
163204,168552,1,16,Russia,Ivanteyevka,4,Android,organic

In [12]:
### Для post_id в тестовой модели
### сделаем эмбеддинг 
### Для текстов

posts_info

      post_id                                               text     topic
0           1  UK economy facing major risks\n\nThe UK manufa...  business
1           2  Aids and climate top Davos agenda\n\nClimate c...  business
2           3  Asian quake hits European shares\n\nShares in ...  business
3           4  India power shares jump on debut\n\nShares in ...  business
4           5  Lacroix label bought by US firm\n\nLuxury good...  business
...       ...                                                ...       ...
7018     7315  OK, I would not normally watch a Farrelly brot...     movie
7019     7316  I give this movie 2 stars purely because of it...     movie
7020     7317  I cant believe this film was allowed to be mad...     movie
7021     7318  The version I saw of this film was the Blockbu...     movie
7022     7319  Piece of subtle art. Maybe a masterpiece. Doub...     movie

[7023 rows x 3 columns]

In [13]:
### Сделаем эмбеддинги постов с помощью трансформера Bert или его модификаций

from transformers import AutoTokenizer
from transformers import BertModel
from transformers import RobertaModel
from transformers import DistilBertModel

# Функция выбирает вид трансформета и токенизирует текст
def get_model(model_name):
    assert model_name in ['bert', 'roberta', 'distilbert']

    checkpoint_names = {
        'bert': 'bert-base-cased',
        'roberta': 'roberta-base',
        'distilbert': 'distilbert-base-cased'
    }

    model_classes = {
        'bert': BertModel,
        'roberta': RobertaModel,
        'distilbert': DistilBertModel
    }

    return AutoTokenizer.from_pretrained(checkpoint_names[model_name]), model_classes[model_name].from_pretrained(checkpoint_names[model_name])

In [14]:
### Выбираем distilbert, в нашем случае мы можем создать эмбеддинги для всех текстов в постах,
### в проде, когда будут появляться новые тексты, distilbert обеспечит лучшую скорость обработки из выбранных моделей 

tokenizer, model = get_model('distilbert')

Some weights of the model checkpoint at distilbert-base-cased were not used when initializing DistilBertModel: ['vocab_transform.bias', 'vocab_projector.weight', 'vocab_layer_norm.bias', 'vocab_layer_norm.weight', 'vocab_projector.bias', 'vocab_transform.weight']
- This IS expected if you are initializing DistilBertModel from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing DistilBertModel from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

In [15]:
### Сделаем датасет для постов

from torch.utils.data import Dataset
from torch.utils.data import DataLoader
from transformers import DataCollatorWithPadding


class PostDataset(Dataset):
    def __init__(self, texts, tokenizer):
        super().__init__()

        self.texts = tokenizer.batch_encode_plus(
            texts,
            add_special_tokens=True,
            return_token_type_ids=False,
            return_tensors='pt',
            truncation=True,
            padding=True
        )
        self.tokenizer = tokenizer

    def __getitem__(self, idx):
        return {'input_ids': self.texts['input_ids'][idx], 'attention_mask': self.texts['attention_mask'][idx]}

    def __len__(self):
        return len(self.texts['input_ids'])
    
    
dataset = PostDataset(posts_info['text'].values.tolist(), tokenizer)

data_collator = DataCollatorWithPadding(tokenizer=tokenizer)

loader = DataLoader(dataset, batch_size=32, collate_fn=data_collator, pin_memory=True, shuffle=False)

b = next(iter(loader))

b

You're using a DistilBertTokenizerFast tokenizer. Please note that with a fast tokenizer, using the `__call__` method is faster than using a method to encode the text followed by a call to the `pad` method to get a padded encoding.

{'input_ids': tensor([[  101,  1993,  4190,  ...,     0,     0,     0],
        [  101, 15386,  1116,  ...,  1300,  1107,   102],
        [  101,  3141,   186,  ..., 14099,  8478,   102],
        ...,
        [  101, 16972, 20647,  ...,     0,     0,     0],
        [  101,   137,   188,  ...,     0,     0,     0],
        [  101,   144, 22731,  ...,     0,     0,     0]]), 'attention_mask': tensor([[1, 1, 1,  ..., 0, 0, 0],
        [1, 1, 1,  ..., 1, 1, 1],
        [1, 1, 1,  ..., 1, 1, 1],
        ...,
        [1, 1, 1,  ..., 0, 0, 0],
        [1, 1, 1,  ..., 0, 0, 0],
        [1, 1, 1,  ..., 0, 0, 0]])}

In [16]:
import torch
from tqdm import tqdm

### Учим батчами, собираем вместе и конкатинируем

@torch.inference_mode()
def get_embeddings_labels(model, loader):
    model.eval()
    
    total_embeddings = []
    
    for batch in tqdm(loader):
        batch = {key: batch[key].to(device) for key in ['attention_mask', 'input_ids']}

        embeddings = model(**batch)['last_hidden_state'][:, 0, :]

        total_embeddings.append(embeddings.cpu())

    return torch.cat(total_embeddings, dim=0)

In [17]:
### Можно учить на cpu или gpu, воспользуемся free gpu с kaggle

device = torch.device('cuda:0' if torch.cuda.is_available() else 'cpu')

print(device)

model = model.to(device)

cpu

In [18]:
embeddings = get_embeddings_labels(model, loader).numpy()

embeddings

100%|██████████████████████████████████████████████████████████████████████████████| 220/220 [4:01:01<00:00, 65.74s/it]

array([[ 3.63150865e-01,  4.89375629e-02, -2.64081329e-01, ...,
        -1.41593173e-01,  1.59182400e-02,  9.18260776e-05],
       [ 2.36416146e-01, -1.59501165e-01, -3.27798277e-01, ...,
        -2.89935887e-01,  1.19365141e-01, -1.62390620e-03],
       [ 3.75191450e-01, -1.13943905e-01, -2.40547150e-01, ...,
        -3.38919193e-01,  5.86936623e-02, -2.12656148e-02],
       ...,
       [ 3.40382308e-01,  6.64923042e-02, -1.63184464e-01, ...,
        -8.65626037e-02,  2.03403741e-01,  3.20906527e-02],
       [ 4.32091981e-01,  1.10913664e-02, -1.17306121e-01, ...,
         7.54013434e-02,  1.02739811e-01,  1.52743217e-02],
       [ 3.04277569e-01, -7.62156844e-02, -6.77587166e-02, ...,
        -5.43485768e-02,  2.44383678e-01, -1.41482987e-02]], dtype=float32)

In [20]:
### Кластеризуем эмбеддинги методом главных компонент

from sklearn.decomposition import PCA

centered = embeddings - embeddings.mean()

pca = PCA(n_components=20)
pca_decomp = pca.fit_transform(centered)

from sklearn.cluster import KMeans

kmeans = KMeans(n_clusters=15, random_state=0).fit(pca_decomp)

posts_info['TextCluster'] = kmeans.labels_

dists_columns = ['DistanceTo1thCluster',
                 'DistanceTo2thCluster',
                 'DistanceTo3thCluster',
                 'DistanceTo4thCluster',
                 'DistanceTo5thCluster',
                 'DistanceTo6thCluster',
                 'DistanceTo7thCluster',
                 'DistanceTo8thCluster',
                 'DistanceTo9thCluster',
                 'DistanceTo10thCluster',
                 'DistanceTo11thCluster',
                 'DistanceTo12thCluster',
                 'DistanceTo13thCluster',
                 'DistanceTo14thCluster',
                 'DistanceTo15thCluster']

dists_df = pd.DataFrame(
    data=kmeans.transform(pca_decomp),
    columns=dists_columns
)

dists_df.head()

,DistanceTo1thCluster,DistanceTo2thCluster,DistanceTo3thCluster,DistanceTo4thCluster,DistanceTo5thCluster,DistanceTo6thCluster,DistanceTo7thCluster,DistanceTo8thCluster,DistanceTo9thCluster,DistanceTo10thCluster,DistanceTo11thCluster,DistanceTo12thCluster,DistanceTo13thCluster,DistanceTo14thCluster,DistanceTo15thCluster
0,3.504357,2.673792,1.968815,3.226219,3.331883,3.614178,3.362442,3.266323,3.291473,2.857075,3.351039,1.549979,2.108940,3.295222,3.317659
1,3.200139,2.343614,1.943182,3.177669,3.156385,3.321829,3.097685,3.251140,3.036699,2.651819,2.963483,1.431165,2.079598,2.767204,3.189289
2,3.228727,2.723816,2.829278,3.126302,3.283094,3.401746,3.286436,3.404835,3.107126,2.913411,2.971763,1.356457,2.183629,2.770222,3.223532
3,3.649482,3.229781,3.200557,3.369166,3.668101,2.867237,3.933513,3.590917,3.529238,3.132428,3.670930,2.124270,2.582012,3.554151,3.614207
4,2.821618,1.803410,2.672397,2.823427,2.552513,3.075004,3.012657,2.582009,2.659646,2.419969,2.581480,1.344970,1.539200,2.413295,2.607605

In [21]:
posts_info = pd.concat((posts_info, dists_df), axis=1)

posts_info.head()

,post_id,text,topic,TextCluster,DistanceTo1thCluster,DistanceTo2thCluster,DistanceTo3thCluster,DistanceTo4thCluster,DistanceTo5thCluster,DistanceTo6thCluster,DistanceTo7thCluster,DistanceTo8thCluster,DistanceTo9thCluster,DistanceTo10thCluster,DistanceTo11thCluster,DistanceTo12thCluster,DistanceTo13thCluster,DistanceTo14thCluster,DistanceTo15thCluster
0,1,UK economy facing major risks\n\nThe UK manufa...,business,11,3.504357,2.673792,1.968815,3.226219,3.331883,3.614178,3.362442,3.266323,3.291473,2.857075,3.351039,1.549979,2.108940,3.295222,3.317659
1,2,Aids and climate top Davos agenda\n\nClimate c...,business,11,3.200139,2.343614,1.943182,3.177669,3.156385,3.321829,3.097685,3.251140,3.036699,2.651819,2.963483,1.431165,2.079598,2.767204,3.189289
2,3,Asian quake hits European shares\n\nShares in ...,business,11,3.228727,2.723816,2.829278,3.126302,3.283094,3.401746,3.286436,3.404835,3.107126,2.913411,2.971763,1.356457,2.183629,2.770222,3.223532
3,4,India power shares jump on debut\n\nShares in ...,business,11,3.649482,3.229781,3.200557,3.369166,3.668101,2.867237,3.933513,3.590917,3.529238,3.132428,3.670930,2.124270,2.582012,3.554151,3.614207
4,5,Lacroix label bought by US firm\n\nLuxury good...,business,11,2.821618,1.803410,2.672397,2.823427,2.552513,3.075004,3.012657,2.582009,2.659646,2.419969,2.581480,1.344970,1.539200,2.413295,2.607605

In [22]:
### Воспроизведем датафрейм со всеми новыми фичами, мержим ленту и признаки постов

df = pd.merge(feed_data,
              posts_info,
              on='post_id',
              how='left')

df.head()

,timestamp,user_id,post_id,action,target,text,topic,TextCluster,DistanceTo1thCluster,DistanceTo2thCluster,...,DistanceTo6thCluster,DistanceTo7thCluster,DistanceTo8thCluster,DistanceTo9thCluster,DistanceTo10thCluster,DistanceTo11thCluster,DistanceTo12thCluster,DistanceTo13thCluster,DistanceTo14thCluster,DistanceTo15thCluster
0,2021-12-18 21:09:54,16711,6076,view,0,With a cast of stalwart British character acto...,movie,7,3.277681,1.925044,...,2.332079,3.058674,1.387538,2.252267,3.068911,1.854535,3.026086,2.788062,3.049608,1.681750
1,2021-12-18 21:10:52,16711,6117,view,1,DONT EVEN TRY to figure out the logic of this ...,movie,14,2.249643,2.535521,...,2.765206,3.448006,2.143547,1.788722,2.450539,2.058283,3.145939,2.758110,3.132016,1.738684
2,2021-12-18 21:11:27,16711,3873,view,0,Well done #NewZealand! People took it seriousl...,covid,9,1.455519,2.368171,...,2.871108,3.413861,2.437770,2.603940,1.375073,2.699581,2.782245,2.338907,3.194732,2.115251
3,2021-12-18 21:11:39,16711,6313,view,0,"Okay, some other people have commented that th...",movie,7,2.925310,2.286716,...,1.970040,3.514923,0.937262,1.732782,2.628743,1.835571,2.905313,2.508751,3.394126,0.959659
4,2021-12-18 21:14:36,16711,3886,view,0,“The scientific evidence is clear: to truly th...,covid,9,1.816763,2.696357,...,2.772372,3.513500,2.271914,2.655153,1.120753,2.569722,2.633831,2.186994,3.137830,2.257820

In [23]:
### Мержим ленту, посты, юзеров
### Получаем полный набор фичей для тестовой модели

df = pd.merge(df,
              user_info,
              on='user_id',
              how='left')

df.head()

,timestamp,user_id,post_id,action,target,text,topic,TextCluster,DistanceTo1thCluster,DistanceTo2thCluster,...,DistanceTo13thCluster,DistanceTo14thCluster,DistanceTo15thCluster,gender,age,country,city,exp_group,os,source
0,2021-12-18 21:09:54,16711,6076,view,0,With a cast of stalwart British character acto...,movie,7,3.277681,1.925044,...,2.788062,3.049608,1.681750,0,21,Russia,Moscow,3,iOS,ads
1,2021-12-18 21:10:52,16711,6117,view,1,DONT EVEN TRY to figure out the logic of this ...,movie,14,2.249643,2.535521,...,2.758110,3.132016,1.738684,0,21,Russia,Moscow,3,iOS,ads
2,2021-12-18 21:11:27,16711,3873,view,0,Well done #NewZealand! People took it seriousl...,covid,9,1.455519,2.368171,...,2.338907,3.194732,2.115251,0,21,Russia,Moscow,3,iOS,ads
3,2021-12-18 21:11:39,16711,6313,view,0,"Okay, some other people have commented that th...",movie,7,2.925310,2.286716,...,2.508751,3.394126,0.959659,0,21,Russia,Moscow,3,iOS,ads
4,2021-12-18 21:14:36,16711,3886,view,0,“The scientific evidence is clear: to truly th...,covid,9,1.816763,2.696357,...,2.186994,3.137830,2.257820,0,21,Russia,Moscow,3,iOS,ads

In [24]:
### Выделим признаки из timestamp
### От времени просмотра может зависеть
### Склонность пользователей лайкать или игнорировать посты

df['hour'] = pd.to_datetime(df['timestamp']).apply(lambda x: x.hour)
df['month'] = pd.to_datetime(df['timestamp']).apply(lambda x: x.month)

df.head()

,timestamp,user_id,post_id,action,target,text,topic,TextCluster,DistanceTo1thCluster,DistanceTo2thCluster,...,DistanceTo15thCluster,gender,age,country,city,exp_group,os,source,hour,month
0,2021-12-18 21:09:54,16711,6076,view,0,With a cast of stalwart British character acto...,movie,7,3.277681,1.925044,...,1.681750,0,21,Russia,Moscow,3,iOS,ads,21,12
1,2021-12-18 21:10:52,16711,6117,view,1,DONT EVEN TRY to figure out the logic of this ...,movie,14,2.249643,2.535521,...,1.738684,0,21,Russia,Moscow,3,iOS,ads,21,12
2,2021-12-18 21:11:27,16711,3873,view,0,Well done #NewZealand! People took it seriousl...,covid,9,1.455519,2.368171,...,2.115251,0,21,Russia,Moscow,3,iOS,ads,21,12
3,2021-12-18 21:11:39,16711,6313,view,0,"Okay, some other people have commented that th...",movie,7,2.925310,2.286716,...,0.959659,0,21,Russia,Moscow,3,iOS,ads,21,12
4,2021-12-18 21:14:36,16711,3886,view,0,“The scientific evidence is clear: to truly th...,covid,9,1.816763,2.696357,...,2.257820,0,21,Russia,Moscow,3,iOS,ads,21,12

In [25]:
### Уберем все ненужные колонки

df = df.drop([
    'action',
    'text',
],
    axis=1)

df.head()

,timestamp,user_id,post_id,target,topic,TextCluster,DistanceTo1thCluster,DistanceTo2thCluster,DistanceTo3thCluster,DistanceTo4thCluster,...,DistanceTo15thCluster,gender,age,country,city,exp_group,os,source,hour,month
0,2021-12-18 21:09:54,16711,6076,0,movie,7,3.277681,1.925044,2.675330,3.429184,...,1.681750,0,21,Russia,Moscow,3,iOS,ads,21,12
1,2021-12-18 21:10:52,16711,6117,1,movie,14,2.249643,2.535521,3.498267,2.752383,...,1.738684,0,21,Russia,Moscow,3,iOS,ads,21,12
2,2021-12-18 21:11:27,16711,3873,0,covid,9,1.455519,2.368171,2.925892,2.250539,...,2.115251,0,21,Russia,Moscow,3,iOS,ads,21,12
3,2021-12-18 21:11:39,16711,6313,0,movie,7,2.925310,2.286716,3.083684,3.095057,...,0.959659,0,21,Russia,Moscow,3,iOS,ads,21,12
4,2021-12-18 21:14:36,16711,3886,0,covid,9,1.816763,2.696357,2.952883,1.927562,...,2.257820,0,21,Russia,Moscow,3,iOS,ads,21,12
5,2021-12-18 21:15:38,16711,1158,0,politics,2,3.769194,2.609201,0.939653,3.819902,...,3.409787,0,21,Russia,Moscow,3,iOS,ads,21,12
6,2021-12-18 21:17:07,16711,4444,1,movie,7,2.982104,1.987676,2.813493,3.146704,...,1.682163,0,21,Russia,Moscow,3,iOS,ads,21,12
7,2021-12-18 21:18:17,16711,1895,0,sport,13,3.215110,2.648191,3.222679,3.149311,...,3.041343,0,21,Russia,Moscow,3,iOS,ads,21,12
8,2021-12-18 21:20:53,16711,2382,0,covid,0,0.806259,2.630974,3.296063,1.937183,...,2.377984,0,21,Russia,Moscow,3,iOS,ads,21,12
9,2021-12-18 21:23:27,16711,6140,0,movie,7,3.072745,2.234633,2.988472,3.261872,...,1.086830,0,21,Russia,Moscow,3,iOS,ads,21,12
10,2021-12-18 21:25:12,16711,5698,1,movie,10,2.794905,2.241997,2.944291,2.931738,...,2.003200,0,21,Russia,Moscow,3,iOS,ads,21,12
11,2021-12-18 21:26:16,16711,4927,0,movie,14,2.450670,2.510925,3.598551,2.902196,...,1.427172,0,21,Russia,Moscow,3,iOS,ads,21,12
12,2021-12-18 21:28:59,16711,3940,1,covid,3,1.674601,2.650699,3.135399,1.044779,...,2.816384,0,21,Russia,Moscow,3,iOS,ads,21,12
13,2021-12-18 21:30:37,16711,170,0,business,11,3.373750,2.681387,2.738692,3.253619,...,3.267157,0,21,Russia,Moscow,3,iOS,ads,21,12
14,2021-12-18 21:32:16,16711,7005,1,movie,4,2.780638,2.063766,2.999413,3.067360,...,1.687909,0,21,Russia,Moscow,3,iOS,ads,21,12
15,2021-12-18 21:32:40,16711,3655,0,covid,3,1.752337,2.828934,3.384795,0.873667,...,2.547995,0,21,Russia,Moscow,3,iOS,ads,21,12
16,2021-12-18 21:33:32,16711,6813,0,movie,14,2.857481,2.374389,3.440399,3.194390,...,1.194569,0,21,Russia,Moscow,3,iOS,ads,21,12
17,2021-12-18 21:33:46,16711,4389,1,movie,7,2.775871,2.209561,3.215452,3.107836,...,1.291350,0,21,Russia,Moscow,3,iOS,ads,21,12
18,2021-12-18 21:34:29,16711,6073,1,movie,7,2.535022,1.928681,2.749515,2.723496,...,1.094738,0,21,Russia,Moscow,3,iOS,ads,21,12
19,2021-12-18 21:35:34,16711,1943,0,tech,12,2.480306,1.511516,2.417514,2.826049,...,2.267323,0,21,Russia,Moscow,3,iOS,ads,21,12
20,2021-12-18 21:37:46,16711,4531,0,movie,7,2.729572,2.460793,3.467758,3.042991,...,1.262877,0,21,Russia,Moscow,3,iOS,ads,21,12
21,2021-12-18 21:39:46,16711,4116,0,covid,0,0.669376,2.794505,3.438628,1.761162,...,2.768206,0,21,Russia,Moscow,3,iOS,ads,21,12
22,2021-12-18 21:42:10,16711,2490,0,covid,0,1.417423,3.347152,3.961611,2.075209,...,3.211299,0,21,Russia,Moscow,3,iOS,ads,21,12
23,2021-12-18 21:43:24,16711,561,0,entertainment,7,3.310845,1.948047,3.052647,3.289709,...,2.320825,0,21,Russia,Moscow,3,iOS,ads,21,12
24,2021-12-18 21:44:59,16711,228,0,business,11,3.350739,2.951626,2.943997,3.010982,...,3.280416,0,21,Russia,Moscow,3,iOS,ads,21,12
25,2021-12-18 21:47:46,16711,2139,0,tech,12,2.760388,2.096079,2.340903,2.812758,...,2.316300,0,21,Russia,Moscow,3,iOS,ads,21,12
26,2021-12-18 21:48:03,16711,4174,0,covid,0,0.792604,2.969493,3.447495,1.781931,...,2.632397,0,21,Russia,Moscow,3,iOS,ads,21,12
27,2021-12-18 21:50:56,16711,3141,0,covid,3,1.434950,3.468540,3.796368,1.324297,...,3.266418,0,21,Russia,Moscow,3,iOS,ads,21,12
28,2021-12-18 21:51:50,16711,3049,0,covid,9,1.401948,2.592493,3.144556,1.160355,...,2.584138,0,21,Russia,Moscow,3,iOS,ads,21,12
29,2021-12-18 21:53:17,16711,164,0,business,2,2.868530,1.694836,1.671971,3.009768,...,2.640850,0,21,Russia,Moscow,3,iOS,ads,21,12
30,2021-12-24 17:32:18,16711,6768,0,movie,14,2.665739,2.183081,3.063727,2.858018,...,0.816177,0,21,Russia,Moscow,3,iOS,ads,17,12
31,2021-12-24 17:34:01,16711,6153,0,movie,14,2.890762,2.383379,3.187351,3.195782,...,0.973501,0,21,Russia,Moscow,3,iOS,ads,17,12
32,2021-12-24 17:36:32,16711,1230,1,politics,11,3.493146,2.464074,2.276924,3.314872,...,3.087733,0,21,Russia,Moscow,3,iOS,ads,17,12
33,2021-12-24 17:38:20,16711,3384,0,covid,0,0.880613,2.946527,3.493046,1.991986,...,2.549986,0,21,Russia,Moscow,3,iOS,ads,17,12
34,2021-12-24 17:41:05,16711,1396,0,sport,13,3.497784,3.008029,3.593655,3.668538,...,3.482234,0,21,Russia,Moscow,3,iOS,ads,17,12
35,2021-12-24 17:43:39,16711,4774,0,movie,10,2.963261,2.273747,3.198386,3.173614,...,1.832385,0,21,Russia,Moscow,3,iOS,ads,17,12
36,2021-12-24 17:46:11,16711,1356,1,politics,2,3.454046,2.300322,0.556142,3.585138,...,3.066133,0,21,Russia,Moscow,3,iOS,ads,17,12
37,2021-12-24 17:48:13,16711,1644,0,sport,13,3.544929,3.098652,3.643631,3.618852,...,3.127305,0,21,Russia,Moscow,3,iOS,ads,17,12
38,2021-12-24 17:50:18,16711,4862,0,movie,7,3.075840,2.373146,3.305036,3.257945,...,0.946510,0,21,Russia,Moscow,3,iOS,ads,17,12
39,2021-12-24 17:51:12,16711,1475,0,sport,6,3.054414,2.167418,2.160549,3.228217,...,2.702404,0,21,Russia,Moscow,3,iOS,ads,17,12
40,2021-12-24 17:52:41,16711,3733,0,covid,0,1.044921,2.933940,3.425167,1.624849,...,2.872867,0,21,Russia,Moscow,3,iOS,ads,17,12
41,2021-12-24 17:54:54,16711,5442,0,movie,14,2.102407,2.316606,3.140621,2.620738,...,1.378058,0,21,Russia,Moscow,3,iOS,ads,17,12
42,2021-12-24 17:57:17,16711,1045,0,politics,2,3.695484,2.425755,1.290343,3.744920,...,3.374644,0,21,Russia,Moscow,3,iOS,ads,17,12
43,2021-12-24 17:58:50,16711,3465,1,covid,3,1.437559,3.023487,3.452300,0.901152,...,2.624624,0,21,Russia,Moscow,3,iOS,ads,17,12
44,2021-12-24 18:00:15,16711,2184,0,tech,12,2.900543,2.386656,2.619408,2.732479,...,2.614558,0,21,Russia,Moscow,3,iOS,ads,18,12
45,2021-12-24 18:03:09,16711,5874,0,movie,4,2.891757,2.092794,3.226252,3.137431,...,1.758589,0,21,Russia,Moscow,3,iOS,ads,18,12
46,2021-12-24 18:03:21,16711,4190,0,covid,3,2.152357,3.231868,3.741441,1.490729,...,3.225546,0,21,Russia,Moscow,3,iOS,ads,18,12
47,2021-12-24 18:03:59,16711,5604,0,movie,4,2.954054,2.110150,3.087129,3.287222,...,1.389356,0,21,Russia,Moscow,3,iOS,ads,18,12
48,2021-12-24 18:06:03,16711,5677,0,movie,7,3.566841,2.934362,3.722806,3.599297,...,1.991748,0,21,Russia,Moscow,3,iOS,ads,18,12
49,2021-12-24 18:08:36,16711,2595,0,covid,0,1.083798,3.349662,3.984582,2.300299,...,3.137625,0,21,Russia,Moscow,3,iOS,ads,18,12

### Обучим модель

In [26]:
### На примере контрольной модели убедились, что катбуст справляется, не будем выделять тестовую выборку

X = df.drop(['target', 'timestamp'], axis=1)
Y = df['target']

In [27]:
X.head()

,user_id,post_id,topic,TextCluster,DistanceTo1thCluster,DistanceTo2thCluster,DistanceTo3thCluster,DistanceTo4thCluster,DistanceTo5thCluster,DistanceTo6thCluster,...,DistanceTo15thCluster,gender,age,country,city,exp_group,os,source,hour,month
0,16711,6076,movie,7,3.277681,1.925044,2.675330,3.429184,1.503079,2.332079,...,1.681750,0,21,Russia,Moscow,3,iOS,ads,21,12
1,16711,6117,movie,14,2.249643,2.535521,3.498267,2.752383,1.792013,2.765206,...,1.738684,0,21,Russia,Moscow,3,iOS,ads,21,12
2,16711,3873,covid,9,1.455519,2.368171,2.925892,2.250539,2.654991,2.871108,...,2.115251,0,21,Russia,Moscow,3,iOS,ads,21,12
3,16711,6313,movie,7,2.925310,2.286716,3.083684,3.095057,1.508226,1.970040,...,0.959659,0,21,Russia,Moscow,3,iOS,ads,21,12
4,16711,3886,covid,9,1.816763,2.696357,2.952883,1.927562,2.623424,2.772372,...,2.257820,0,21,Russia,Moscow,3,iOS,ads,21,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8937797,119268,792,entertainment,2,3.371973,1.927173,1.619165,3.463199,2.619300,3.070703,...,2.540460,1,25,Russia,Ust’-Ilimsk,3,iOS,organic,17,12
8937798,119268,4433,movie,14,2.525568,2.100286,3.071906,2.768228,1.441946,1.982262,...,0.652705,1,25,Russia,Ust’-Ilimsk,3,iOS,organic,17,12
8937799,119268,7263,movie,10,3.131705,2.398181,2.966780,3.253437,1.676883,2.429662,...,1.663948,1,25,Russia,Ust’-Ilimsk,3,iOS,organic,17,12
8937800,119268,6773,movie,10,2.995803,1.989803,2.975283,3.264445,1.223238,2.401585,...,1.458438,1,25,Russia,Ust’-Ilimsk,3,iOS,organic,17,12
8937801,119268,1571,sport,13,2.918878,2.134406,2.977858,2.958060,2.659941,2.807640,...,2.688085,1,25,Russia,Ust’-Ilimsk,3,iOS,organic,17,12

In [28]:
### Обучим катбуст

from catboost import CatBoostClassifier


catboost = CatBoostClassifier(
    iterations=200,
    learning_rate=1,
    depth=2,
    random_seed=12345
)

object_cols = [
    'topic', 'TextCluster', 'gender', 'country',
    'city', 'exp_group', 'hour', 'month',
    'os', 'source'
]

catboost.fit(X, Y, object_cols)

0:	learn: 0.3621031	total: 18.6s	remaining: 1h 1m 47s
1:	learn: 0.3554475	total: 25.8s	remaining: 42m 32s
2:	learn: 0.3537940	total: 34.1s	remaining: 37m 16s
3:	learn: 0.3531821	total: 40.6s	remaining: 33m 11s
4:	learn: 0.3521884	total: 45.2s	remaining: 29m 24s
5:	learn: 0.3520138	total: 52.3s	remaining: 28m 11s
6:	learn: 0.3518745	total: 57s	remaining: 26m 10s
7:	learn: 0.3508866	total: 1m 1s	remaining: 24m 42s
8:	learn: 0.3505651	total: 1m 5s	remaining: 23m 4s
9:	learn: 0.3504612	total: 1m 8s	remaining: 21m 45s
10:	learn: 0.3495845	total: 1m 13s	remaining: 20m 57s
11:	learn: 0.3493934	total: 1m 17s	remaining: 20m 15s
12:	learn: 0.3492564	total: 1m 21s	remaining: 19m 31s
13:	learn: 0.3491350	total: 1m 25s	remaining: 18m 52s
14:	learn: 0.3490409	total: 1m 28s	remaining: 18m 14s
15:	learn: 0.3490065	total: 1m 33s	remaining: 17m 51s
16:	learn: 0.3487878	total: 1m 38s	remaining: 17m 37s
17:	learn: 0.3486596	total: 1m 42s	remaining: 17m 19s
18:	learn: 0.3479818	total: 1m 47s	remaining: 17m 5s
19:	learn: 0.3476561	total: 1m 52s	remaining: 16m 53s
20:	learn: 0.3475033	total: 1m 58s	remaining: 16m 49s
21:	learn: 0.3473003	total: 2m 3s	remaining: 16m 40s
22:	learn: 0.3472601	total: 2m 9s	remaining: 16m 33s
23:	learn: 0.3472332	total: 2m 14s	remaining: 16m 25s
24:	learn: 0.3469611	total: 2m 20s	remaining: 16m 22s
25:	learn: 0.3468859	total: 2m 25s	remaining: 16m 13s
26:	learn: 0.3467719	total: 2m 30s	remaining: 16m 4s
27:	learn: 0.3467405	total: 2m 35s	remaining: 15m 57s
28:	learn: 0.3467026	total: 2m 40s	remaining: 15m 46s
29:	learn: 0.3466339	total: 2m 44s	remaining: 15m 33s
30:	learn: 0.3466228	total: 2m 49s	remaining: 15m 21s
31:	learn: 0.3466067	total: 2m 53s	remaining: 15m 10s
32:	learn: 0.3465726	total: 2m 58s	remaining: 15m 5s
33:	learn: 0.3465152	total: 3m 4s	remaining: 15m
34:	learn: 0.3464419	total: 3m 10s	remaining: 15m
35:	learn: 0.3464181	total: 3m 15s	remaining: 14m 51s
36:	learn: 0.3463767	total: 3m 21s	remaining: 14m 47s
37:	learn: 0.3463627	total: 3m 26s	remaining: 14m 42s
38:	learn: 0.3463164	total: 3m 32s	remaining: 14m 36s
39:	learn: 0.3462963	total: 3m 38s	remaining: 14m 32s
40:	learn: 0.3462281	total: 3m 44s	remaining: 14m 29s
41:	learn: 0.3461904	total: 3m 50s	remaining: 14m 25s
42:	learn: 0.3461253	total: 3m 56s	remaining: 14m 21s
43:	learn: 0.3461077	total: 4m 1s	remaining: 14m 17s
44:	learn: 0.3460840	total: 4m 6s	remaining: 14m 7s
45:	learn: 0.3460632	total: 4m 12s	remaining: 14m 4s
46:	learn: 0.3460507	total: 4m 17s	remaining: 13m 56s
47:	learn: 0.3459618	total: 4m 22s	remaining: 13m 52s
48:	learn: 0.3459488	total: 4m 28s	remaining: 13m 46s
49:	learn: 0.3459103	total: 4m 33s	remaining: 13m 41s
50:	learn: 0.3458805	total: 4m 39s	remaining: 13m 37s
51:	learn: 0.3458622	total: 4m 45s	remaining: 13m 32s
52:	learn: 0.3458451	total: 4m 51s	remaining: 13m 27s
53:	learn: 0.3458213	total: 4m 57s	remaining: 13m 23s
54:	learn: 0.3457966	total: 5m 3s	remaining: 13m 19s
55:	learn: 0.3457803	total: 5m 9s	remaining: 13m 14s
56:	learn: 0.3457645	total: 5m 14s	remaining: 13m 9s
57:	learn: 0.3457520	total: 5m 21s	remaining: 13m 6s
58:	learn: 0.3456612	total: 5m 27s	remaining: 13m 1s
59:	learn: 0.3456479	total: 5m 32s	remaining: 12m 56s
60:	learn: 0.3456000	total: 5m 38s	remaining: 12m 52s
61:	learn: 0.3455809	total: 5m 45s	remaining: 12m 48s
62:	learn: 0.3454985	total: 5m 50s	remaining: 12m 41s
63:	learn: 0.3454863	total: 5m 56s	remaining: 12m 36s
64:	learn: 0.3454620	total: 6m 1s	remaining: 12m 31s
65:	learn: 0.3454573	total: 6m 7s	remaining: 12m 25s
66:	learn: 0.3454468	total: 6m 13s	remaining: 12m 21s
67:	learn: 0.3454123	total: 6m 19s	remaining: 12m 16s
68:	learn: 0.3454042	total: 6m 25s	remaining: 12m 12s
69:	learn: 0.3453952	total: 6m 32s	remaining: 12m 8s
70:	learn: 0.3453856	total: 6m 37s	remaining: 12m 2s
71:	learn: 0.3453753	total: 6m 43s	remaining: 11m 57s
72:	learn: 0.3453633	total: 6m 49s	remaining: 11m 52s
73:	learn: 0.3453554	total: 6m 54s	remaining: 11m 45s
74:	learn: 0.3453344	total: 7m	remaining: 11m 40s
75:	learn: 0.3453258	total: 7m 4s	remaining: 11m 32s
76:	learn: 0.3453211	total: 7m 10s	remaining: 11m 27s
77:	learn: 0.3452990	total: 7m 17s	remaining: 11m 23s
78:	learn: 0.3452892	total: 7m 23s	remaining: 11m 19s
79:	learn: 0.3452779	total: 7m 29s	remaining: 11m 13s
80:	learn: 0.3452666	total: 7m 35s	remaining: 11m 8s
81:	learn: 0.3452148	total: 7m 41s	remaining: 11m 4s
82:	learn: 0.3451844	total: 7m 47s	remaining: 10m 59s
83:	learn: 0.3451764	total: 7m 53s	remaining: 10m 54s
84:	learn: 0.3451489	total: 7m 59s	remaining: 10m 49s
85:	learn: 0.3451348	total: 8m 5s	remaining: 10m 43s
86:	learn: 0.3451263	total: 8m 11s	remaining: 10m 38s
87:	learn: 0.3451221	total: 8m 17s	remaining: 10m 33s
88:	learn: 0.3451128	total: 8m 23s	remaining: 10m 28s
89:	learn: 0.3451065	total: 8m 29s	remaining: 10m 22s
90:	learn: 0.3450999	total: 8m 35s	remaining: 10m 17s
91:	learn: 0.3450876	total: 8m 41s	remaining: 10m 11s
92:	learn: 0.3450717	total: 8m 47s	remaining: 10m 6s
93:	learn: 0.3450126	total: 8m 53s	remaining: 10m 1s
94:	learn: 0.3450043	total: 8m 59s	remaining: 9m 56s
95:	learn: 0.3449857	total: 9m 5s	remaining: 9m 51s
96:	learn: 0.3449744	total: 9m 11s	remaining: 9m 46s
97:	learn: 0.3449673	total: 9m 18s	remaining: 9m 40s
98:	learn: 0.3449073	total: 9m 24s	remaining: 9m 35s
99:	learn: 0.3448814	total: 9m 30s	remaining: 9m 30s
100:	learn: 0.3448754	total: 9m 37s	remaining: 9m 25s
101:	learn: 0.3448696	total: 9m 43s	remaining: 9m 20s
102:	learn: 0.3448629	total: 9m 49s	remaining: 9m 15s
103:	learn: 0.3448556	total: 9m 56s	remaining: 9m 10s
104:	learn: 0.3446552	total: 10m 2s	remaining: 9m 4s
105:	learn: 0.3446194	total: 10m 8s	remaining: 8m 59s
106:	learn: 0.3446014	total: 10m 14s	remaining: 8m 53s
107:	learn: 0.3445771	total: 10m 20s	remaining: 8m 48s
108:	learn: 0.3445702	total: 10m 26s	remaining: 8m 42s
109:	learn: 0.3445632	total: 10m 31s	remaining: 8m 37s
110:	learn: 0.3445525	total: 10m 37s	remaining: 8m 31s
111:	learn: 0.3445426	total: 10m 44s	remaining: 8m 26s
112:	learn: 0.3445217	total: 10m 50s	remaining: 8m 20s
113:	learn: 0.3445083	total: 10m 56s	remaining: 8m 14s
114:	learn: 0.3445040	total: 11m 2s	remaining: 8m 9s
115:	learn: 0.3444947	total: 11m 8s	remaining: 8m 3s
116:	learn: 0.3444842	total: 11m 14s	remaining: 7m 58s
117:	learn: 0.3444675	total: 11m 19s	remaining: 7m 52s
118:	learn: 0.3444612	total: 11m 25s	remaining: 7m 46s
119:	learn: 0.3444432	total: 11m 32s	remaining: 7m 41s
120:	learn: 0.3444357	total: 11m 38s	remaining: 7m 36s
121:	learn: 0.3444238	total: 11m 44s	remaining: 7m 30s
122:	learn: 0.3444137	total: 11m 51s	remaining: 7m 25s
123:	learn: 0.3444085	total: 11m 57s	remaining: 7m 19s
124:	learn: 0.3443993	total: 12m 3s	remaining: 7m 13s
125:	learn: 0.3443915	total: 12m 9s	remaining: 7m 8s
126:	learn: 0.3443865	total: 12m 15s	remaining: 7m 2s
127:	learn: 0.3443766	total: 12m 21s	remaining: 6m 57s
128:	learn: 0.3443697	total: 12m 27s	remaining: 6m 51s
129:	learn: 0.3443654	total: 12m 33s	remaining: 6m 45s
130:	learn: 0.3443443	total: 12m 40s	remaining: 6m 40s
131:	learn: 0.3443386	total: 12m 46s	remaining: 6m 34s
132:	learn: 0.3443323	total: 12m 52s	remaining: 6m 28s
133:	learn: 0.3443100	total: 12m 58s	remaining: 6m 23s
134:	learn: 0.3442896	total: 13m 4s	remaining: 6m 17s
135:	learn: 0.3442811	total: 13m 10s	remaining: 6m 11s
136:	learn: 0.3442749	total: 13m 16s	remaining: 6m 6s
137:	learn: 0.3442726	total: 13m 23s	remaining: 6m
138:	learn: 0.3442688	total: 13m 29s	remaining: 5m 55s
139:	learn: 0.3442527	total: 13m 35s	remaining: 5m 49s
140:	learn: 0.3442460	total: 13m 41s	remaining: 5m 43s
141:	learn: 0.3442351	total: 13m 47s	remaining: 5m 38s
142:	learn: 0.3442266	total: 13m 53s	remaining: 5m 32s
143:	learn: 0.3442200	total: 13m 59s	remaining: 5m 26s
144:	learn: 0.3441985	total: 14m 4s	remaining: 5m 20s
145:	learn: 0.3441923	total: 14m 10s	remaining: 5m 14s
146:	learn: 0.3441840	total: 14m 15s	remaining: 5m 8s
147:	learn: 0.3441711	total: 14m 21s	remaining: 5m 2s
148:	learn: 0.3441602	total: 14m 26s	remaining: 4m 56s
149:	learn: 0.3441538	total: 14m 31s	remaining: 4m 50s
150:	learn: 0.3441496	total: 14m 37s	remaining: 4m 44s
151:	learn: 0.3441437	total: 14m 43s	remaining: 4m 39s
152:	learn: 0.3441354	total: 14m 49s	remaining: 4m 33s

153:	learn: 0.3441217	total: 14m 55s	remaining: 4m 27s
154:	learn: 0.3441169	total: 15m 1s	remaining: 4m 21s
155:	learn: 0.3441113	total: 15m 7s	remaining: 4m 15s
156:	learn: 0.3441011	total: 15m 13s	remaining: 4m 10s
157:	learn: 0.3440956	total: 15m 19s	remaining: 4m 4s
158:	learn: 0.3440914	total: 15m 26s	remaining: 3m 58s
159:	learn: 0.3440837	total: 15m 32s	remaining: 3m 53s
160:	learn: 0.3440787	total: 15m 38s	remaining: 3m 47s
161:	learn: 0.3440753	total: 15m 44s	remaining: 3m 41s
162:	learn: 0.3440696	total: 15m 50s	remaining: 3m 35s
163:	learn: 0.3440410	total: 15m 57s	remaining: 3m 30s
164:	learn: 0.3440332	total: 16m 3s	remaining: 3m 24s
165:	learn: 0.3440280	total: 16m 8s	remaining: 3m 18s
166:	learn: 0.3440226	total: 16m 14s	remaining: 3m 12s
167:	learn: 0.3440200	total: 16m 20s	remaining: 3m 6s
168:	learn: 0.3440159	total: 16m 26s	remaining: 3m
169:	learn: 0.3440085	total: 16m 32s	remaining: 2m 55s
170:	learn: 0.3439987	total: 16m 37s	remaining: 2m 49s
171:	learn: 0.3439936	total: 16m 43s	remaining: 2m 43s
172:	learn: 0.3439793	total: 16m 49s	remaining: 2m 37s
173:	learn: 0.3439758	total: 16m 56s	remaining: 2m 31s
174:	learn: 0.3439673	total: 17m 2s	remaining: 2m 26s
175:	learn: 0.3439613	total: 17m 9s	remaining: 2m 20s
176:	learn: 0.3439564	total: 17m 15s	remaining: 2m 14s
177:	learn: 0.3439502	total: 17m 21s	remaining: 2m 8s
178:	learn: 0.3439420	total: 17m 27s	remaining: 2m 2s
179:	learn: 0.3439354	total: 17m 33s	remaining: 1m 57s
180:	learn: 0.3439315	total: 17m 39s	remaining: 1m 51s
181:	learn: 0.3439264	total: 17m 45s	remaining: 1m 45s
182:	learn: 0.3439179	total: 17m 51s	remaining: 1m 39s
183:	learn: 0.3439148	total: 17m 57s	remaining: 1m 33s
184:	learn: 0.3439125	total: 18m 3s	remaining: 1m 27s
185:	learn: 0.3439079	total: 18m 9s	remaining: 1m 22s
186:	learn: 0.3439034	total: 18m 15s	remaining: 1m 16s
187:	learn: 0.3438952	total: 18m 21s	remaining: 1m 10s
188:	learn: 0.3438876	total: 18m 27s	remaining: 1m 4s
189:	learn: 0.3438799	total: 18m 33s	remaining: 58.6s
190:	learn: 0.3438754	total: 18m 38s	remaining: 52.7s
191:	learn: 0.3438707	total: 18m 44s	remaining: 46.9s
192:	learn: 0.3438668	total: 18m 50s	remaining: 41s
193:	learn: 0.3438609	total: 18m 57s	remaining: 35.2s
194:	learn: 0.3438562	total: 19m 3s	remaining: 29.3s
195:	learn: 0.3438495	total: 19m 9s	remaining: 23.5s
196:	learn: 0.3438444	total: 19m 15s	remaining: 17.6s
197:	learn: 0.3438350	total: 19m 20s	remaining: 11.7s
198:	learn: 0.3438313	total: 19m 26s	remaining: 5.86s
199:	learn: 0.3438261	total: 19m 32s	remaining: 0us

In [29]:
### Сохраним модель

catboost.save_model(
    'test_catboost_model_with_embedding'           
)

### Положим в базу фичи, необходимые для функционала тестовой модели

In [30]:
posts_info.head()

,post_id,text,topic,TextCluster,DistanceTo1thCluster,DistanceTo2thCluster,DistanceTo3thCluster,DistanceTo4thCluster,DistanceTo5thCluster,DistanceTo6thCluster,DistanceTo7thCluster,DistanceTo8thCluster,DistanceTo9thCluster,DistanceTo10thCluster,DistanceTo11thCluster,DistanceTo12thCluster,DistanceTo13thCluster,DistanceTo14thCluster,DistanceTo15thCluster
0,1,UK economy facing major risks\n\nThe UK manufa...,business,11,3.504357,2.673792,1.968815,3.226219,3.331883,3.614178,3.362442,3.266323,3.291473,2.857075,3.351039,1.549979,2.108940,3.295222,3.317659
1,2,Aids and climate top Davos agenda\n\nClimate c...,business,11,3.200139,2.343614,1.943182,3.177669,3.156385,3.321829,3.097685,3.251140,3.036699,2.651819,2.963483,1.431165,2.079598,2.767204,3.189289
2,3,Asian quake hits European shares\n\nShares in ...,business,11,3.228727,2.723816,2.829278,3.126302,3.283094,3.401746,3.286436,3.404835,3.107126,2.913411,2.971763,1.356457,2.183629,2.770222,3.223532
3,4,India power shares jump on debut\n\nShares in ...,business,11,3.649482,3.229781,3.200557,3.369166,3.668101,2.867237,3.933513,3.590917,3.529238,3.132428,3.670930,2.124270,2.582012,3.554151,3.614207
4,5,Lacroix label bought by US firm\n\nLuxury good...,business,11,2.821618,1.803410,2.672397,2.823427,2.552513,3.075004,3.012657,2.582009,2.659646,2.419969,2.581480,1.344970,1.539200,2.413295,2.607605
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7018,7315,"OK, I would not normally watch a Farrelly brot...",movie,14,2.797614,2.126085,3.193622,2.973453,1.514944,2.135082,3.267360,1.462310,1.889674,2.631559,1.600707,2.795287,2.563891,2.826108,0.887912
7019,7316,I give this movie 2 stars purely because of it...,movie,14,2.490756,2.106853,3.082391,2.833008,1.603359,2.038254,3.287189,1.065005,1.687891,2.376269,1.682694,2.875927,2.322006,3.107956,0.677740
7020,7317,I cant believe this film was allowed to be mad...,movie,14,2.194229,2.267249,3.266811,2.676448,1.792793,2.401791,3.361870,1.799995,2.108002,2.378564,1.816606,3.063221,2.648453,3.011540,1.192410
7021,7318,The version I saw of this film was the Blockbu...,movie,7,3.242364,2.261005,3.378170,3.388438,1.055168,1.899099,3.346505,1.022737,1.922813,3.061349,1.561011,3.148641,2.936012,3.158903,1.401897
7022,7319,Piece of subtle art. Maybe a masterpiece. Doub...,movie,10,2.765485,2.396650,3.304884,3.046211,1.647536,2.119311,3.401832,1.659552,1.790068,2.710773,1.209676,3.020599,2.583935,3.001286,1.781115

In [31]:
posts_info.to_sql(
   "bragin_posts_info_features_with_pca_embeddings",
    con=CONN,
    schema="public",
    if_exists='replace'
   )